<ion-view view-title="Aloha Resort" hide-back-button="true">
    <ion-content>
        <div class="list">
            <a href="#/reservation" class="item item-icon-left">
                <i class="icon ion-document-text"></i> See your reservation
            </a>
            <a href="#/weather" class="item item-icon-left">
                <i class="icon ion-ios-partlysunny"></i> Current weather
            </a>
            <a href="#/restaurants" class="item item-icon-left">
                <i class="icon ion-fork"></i> Nearby restaurants
            </a>
            <a href="#/photos" class="item item-icon-left">
                <i class="icon ion-images"></i> Photo book
            </a>
        </div>
    </ion-content>
</ion-view>
